.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid black;
    
  }
  
  th {
    background-color: #eb4e4e;
  }
  
  tr:nth-child(even) {
    background-color: #a2ff64;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  